/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* general styles */
a:hover {
	color: yellow;
}
.container {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
}

/* header */

.navbar {
	height: 2rem; 
    background-color:#255EE9;
}

.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
    background-color:#255EE9;
}
.btn {
	border: 0;
	border-radius: 2rem;
	padding: 0.7rem 1rem;
	background-color: white;
	color: black;
	cursor: pointer;
	
}
.btn.black {
	background-color: black;
	color: white;
}
.jumbo .content .btns {
	margin-top: 1rem;
}
.navbar .container > * {

	display: flex;
	align-items: center;
}

li, .logo > *:hover {
	cursor: pointer;
}
a {
	text-decoration: none;
	color: white;
}
.links {
	list-style: none;
	
}
li {
    margin-right:  2rem;
    cursor: pointer;
}

.jumbo .content {
	max-width: 500px;
	margin-inline: auto;
	padding-inline: 1rem;
    color: white;
}

.jumbo {
	padding-top: 3rem;
	padding-bottom: 4rem;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
}
.content  {
	font-size: 1.3rem;
}
.title {
    padding-bottom: 1rem;
}


/* main */

main section {
	padding-top: 3rem;
	padding-bottom: 3rem;
    
}

.section-feature .container {
	display: flex;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}
.stars {
    background-image: url("../img/stars.svg");
    background-size: cover;
    text-align: center;
}
main .container {
	font-size: 1.5rem;
}	
.bkg-gray {
	position: relative;
}
.bkg-gray::before {
	content: "";
	background-image: url("../img/wave.svg");
	opacity: 0.1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	z-index: -1;
}


.section-feature .image {
	flex: 0 0 60%;
}

.section-feature .text {
	flex: 0 0 40%;
}
.btn.cyan {
	background-color: #8C9EDF;
	color: white;
}

.section-full .container .stars .btns {
	margin-top: 1rem;
}
/* footer */

footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: black;
	color: white;
}

.footer-list{
    list-style: none;
    text-decoration: none;
}

.footer-list li{
    padding-top: 0.5rem;
}
footer .footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 2px solid #8C9EDF; 
}

footer .column-socials {
	flex: 0 0 40%;
}

footer .column-links {
	flex: 0 0 15%;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}
.footer-title {
	color: #8C9EDF;
}
.ita {
	width: 5%;
	margin-top: 0.7rem;
}
.socials {
	margin-top: 0.7rem;
}